<!DOCTYPE html> 	
<html lang="en"
	  xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<script type="text/javascript" src="js/local.js"></script>
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/jquery.mask.js"></script>
		<script type="text/javascript" src="bootstrap/js/bootstrap.bundle.min.js"></script>
		
		<link type="text/css" rel="stylesheet" href="css/local.css">
		<link type="text/css" rel="stylesheet" href="css/admin-form.css">
		<!-- Bootstrap core CSS-->
		<link type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
		<!--Glyphicons-->
		<link type="text/css" rel="stylesheet" href="bootstrap/css/glyph_css/glyph_bootstrap.css">
		
		<meta charset="UTF-8">
		<title>Home Page</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="navtitle-area">
				<label class="navbar-brand">Event Planner</label>
			</div>
			<ul class="navbar-nav navbtn-area">
				<li class="nav-item active">
					<button class="spanRegister btn nav-btn nav-link modal-trigger" data-toggle="modal" data-target="#register-guest-modal">
						<span class="glyphicon glyphicon-plus"></span> Login
					</button>
				</li>
				<li class="nav-item active">
					<a class="btn nav-btn nav-link" href="/events">
						<span class="glyphicon glyphicon-list"></span> List of Events
					</a>
				</li>
			</ul>
		</nav>
	</body>
	<script>
	</script>
</html>