<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<script type="text/javascript" src="js/local.js"></script>
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/jquery.mask.js"></script>
		<script type="text/javascript" src="bootstrap/js/bootstrap.bundle.min.js"></script>
		
		<link type="text/css" rel="stylesheet" href="css/local.css">
		<link type="text/css" rel="stylesheet" href="css/admin-form.css">
		<!-- Bootstrap core CSS-->
		<link type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
		<!--Glyphicons-->
		<link type="text/css" rel="stylesheet" href="bootstrap/css/glyph_css/glyph_bootstrap.css">
		
		<meta charset="UTF-8">
		<title>Details Event</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="navtitle-area">
				<label class="navbar-brand">Event Details</label>
			</div>
			<ul class="navbar-nav navbtn-area">
				<li class="nav-item active">
					<button class="spanRegister btn nav-btn nav-link modal-trigger" data-toggle="modal" data-target="#register-guest-modal">
						<span class="glyphicon glyphicon-plus"></span> Add Guest
					</button>
				</li>
				<li class="nav-item active">
					<a class="btn nav-btn nav-link" href="/events">
						<span class="glyphicon glyphicon-list"></span> List of Events
					</a>
				</li>
			</ul>
		</nav>
		<div hidden id="checkInsertMessage" th:class="${class}" th:if="${not #strings.isEmpty(message)}"></div>
		<div class="mainbody-Guest">
			<h3>
				<span th:text="${event.name}"></span>
			</h3>
			<div th:each="event:${event}">
				<div>
					<p><span th:text="${event.place}"></span></p>
					<p><span th:text="${event.date}"></span></p>
					<p><span th:text="${event.time}"></span></p>
					<p id="eventIdEvent" th:text="${event.idEvent}" hidden></p>
				</div>
				<h4>List of Guests</h4>
				<div class="row align-items-center justify-content-center">
					<table>
						<thead>
							<tr>
								<th class="th-guest">Name of Guest</th>
								<th class="th-guest">CPF</th>
								<th class="th-guest">Status Invite</th>
								<th class="text-center th-guest">Edit</th>
								<th class="text-center th-guest">Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="guest:${guests}">
								<td class="td-guest"><span th:text="${guest.nameGuest}"></span></td>
								<td class="td-guest"><span th:text="${guest.cpf}"></span></td>
								<td th:text="${guest.statusInvite.idStatusInvite}" hidden></td>
								<td th:text="${guest.event.idEvent}" hidden></td>
								<td class="td-guest"><span th:text="${guest.statusInvite.statusInvite}"></span></td>
								<td class="spanEdit td-guest"><a href="#" data-toggle="modal" data-target="#edit-guest-modal"><span class="spanEdit glyphicon glyphicon-pencil"></span></a></td>
								<td class="spanDelete td-guest"><a href="#" data-toggle="modal" data-target="#delete-guest-modal"><span class="spanDelete glyphicon glyphicon-trash"></span></a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<th:block th:include="modals/guestRegisterModal"></th:block>
		<th:block th:include="modals/guestEditModal"></th:block>
		<th:block th:include="modals/guestDeleteModal"></th:block>
		<th:block th:include="modals/aux-modals/messageModal"></th:block>
		
	</body>
	<script>
		$(document).ready(function()
		{
			registerInputMasks();	
			
			$classCheck = document.getElementById("checkInsertMessage");
			if($classCheck.classList.contains('error-msg'))
			{
				$('#message-modal').modal();
				$modalHeader = document.getElementById('message-header');
				$modalHeader.className += " error-msg";
				$('#message-modal').openModal;
			}
			if($classCheck.classList.contains('success-msg'))
			{
				$('#message-modal').modal();
				$modalHeader = document.getElementById('message-header');
				$modalHeader.className += " success-msg";
				$('#message-modal').openModal;
			}
		});
		$(".spanRegister").click(function()
		{
			document.getElementById('idEventGuestInsert').innerHTML = document.getElementById('eventIdEvent').innerHTML;
		});
		$(".spanEdit").click(function()
		{
			var $rowEdit = $(this).closest("tr"),
			$tdNameGuestEdit = $rowEdit.find("td:eq(0)");
			document.getElementById('nameGuestEdit').value = $tdNameGuestEdit.text();
			$tdCpfGuestEdit = $rowEdit.find("td:eq(1)");
			document.getElementById('cpfGuestEdit').value = $tdCpfGuestEdit.text();
			$tdIdStatusInviteEdit = $rowEdit.find("td:eq(2)");
			var $tdIdStatusInviteEditValue =  $tdIdStatusInviteEdit.text();
			for (var i=0; i <document.getElementById('statusInviteEdit').length; i++)
			{
				var $statusInviteOption = document.getElementById('statusInviteEdit')[i].value;
				if($statusInviteOption == $tdIdStatusInviteEditValue)
				{
					document.getElementById('statusInviteEdit').selectedIndex  = i;
				}
			}
			$tdIdEventGuestEdit = $rowEdit.find("td:eq(3)");
			document.getElementById('idEventGuestEdit').innerHTML = $tdIdEventGuestEdit.text();
			
		});
		$(".spanDelete").click(function()
		{
			var $rowDelete = $(this).closest("tr"),
			$tdNameGuestDelete = $rowDelete.find("td:eq(0)");
			document.getElementById('nameGuestDelete').innerHTML = $tdNameGuestDelete.text();
			$tdCpfGuestDelete = $rowDelete.find("td:eq(1)");
			document.getElementById('cpfGuestDelete').innerHTML = $tdCpfGuestDelete.text();
			$tdIdEventDelete = $rowDelete.find("td:eq(2)");
			document.getElementById('idEventGuestDelete').innerHTML = $tdIdEventDelete.text();
		});
		function changeGuestRegisterHref($nameGuestRegister, $cpfGuestRegister, $idEventRegister, $idStatusInviteRegister)
		{
			document.getElementById('registerGuestSubmit').href = "/register/guest/"+$nameGuestRegister+"/"+$cpfGuestRegister+"/"+$idEventRegister+"/"+$idStatusInviteRegister;
		}
		function changeGuestEditHref($nameGuestEdit, $cpfGuestEdit, $idEventEdit, $idStatusInviteEdit)
		{
			document.getElementById('editGuestSubmit').href = "/edit/guest/"+$nameGuestEdit+"/"+$cpfGuestEdit+"/"+$idEventEdit+"/"+$idStatusInviteEdit;
		}
		function changeGuestDeleteHref($cpfGuestDelete, $idEventDelete)
		{
			document.getElementById('deleteGuestSubmit').href = "/delete/guest/"+$cpfGuestDelete+"/"+$idEventDelete;
		}
	</script>
</html>