body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

fieldset {
	border: 1px #657d65 solid;
	width: 40%;
}

hr {
	height:1px;
	color: #657d65;
}


legend {
	font-weight: bold;
	font-size: x-small;
	color: #000;
	font-family: Verdana, Helvetica;
}

.quantidades {
	text-align: right;
}
	
.tableTitle {
	width: 780;
	padding: 0;
	border: 0;
	text-align: left;
	padding-left: 15px;
}

.tableBody {
	width: 750;
	padding: 0;
	border: 0;
	text-align: left;
	padding-left: 30px;
}

.login {
	font-family: Arial, Tahoma, Verdana, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}

.labelCampoL {
	font-family: Arial, Tahoma, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}

.labelCampo {
	font-family: Arial, Tahoma, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	text-align: right;
	color: #000000;
}

.texto {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	color: #000000;
}

.textoDestacado {
	font-family: Arial, Tahoma, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}


.textoExplicacao{
	font-weight: normal;
	font-size: smaller;
	color: red;
	font-family: Verdana, Helvetica;
}

.idUser {
	font-family: Tahoma, Verdana, Helvetica, sans-serif;
	font-size: 7.5pt;
	font-weight: normal;
	text-decoration: none;
	color: #FFFFFF;
}

.idUserBold {
	font-family: Tahoma, Verdana, Helvetica, sans-serif;
	font-size: 7.5pt;
	font-weight: bold;
	text-decoration: underline;
	color: #D1D1D1;
}

.bgHeader 
{  
	background-image: url(../img/bg_header_repeat.gif); 
	background-repeat: repeat-y-x; 
}

.mandatoryCenter{ 
	text-align: center;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	background-color: #FFFBE8;
	border: 1px 1px 1px 1px #5A9641 solid;
 } 
 
.mandatoryRight{ 
 	text-align: right;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	background-color: #FFFBE8;
	border: 1px 1px 1px 1px #5A9641 solid;
 }
 
.mandatory{ 
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	background-color: #FFFBE8;
	border: 1px 1px 1px 1px #5A9641 solid;
 }
 
 .mandatoryPre {
	font: 100 12px "Courier New", Courier, monospace;
	text-decoration: none;
	background-color: #FFFBE8;
	border: 1px 1px 1px 1px #5A9641 solid;
}

.tableDisplay {
	background-color: #F9FBFD;
	color: #000000;
	border: 1px solid #D7E5F2;
	border-collapse: collapse;
}

input, select, textarea {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	color: #000000;
}

.genericInput {
	font: 9px Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #ffffff;
	color: #102132;
	border: 1px solid #284279;
	margin-right: 0px;
}

.genericInputNoBorder {
	font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #D7E5F2;
	color: #102132;
	border: 0px;
	margin-right: 0px;
}

.menuLink{
	color: #FCFFBA;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: xx-small;	
}

.infoBar {
	font-size: xx-small;
	color: #A9B98C;
	font-family: Verdana, Helvetica;
	border-bottom-width: thin;
	border-bottom-color: black;
	border-bottom-style:solid;
	border-top-width: thin;
	border-top-color: #747355;
	border-top-style: dotted;
	height: 30px;
}

.tituloSecao {	
	height: 30px;	
	background-color: #EFEFEF;	
	border-bottom-width: thin;
	border-bottom-color: #E4E4E5;
	border-bottom-style:solid;
	border-top-width: thin;
	border-top-color: #FFFFFF;
	border-top-style: solid;
}

.titulo{
	text-align: left;
	font-weight: bold;
	font-size: 14px;
	color: #829196;
	font-family: Verdana, Helvetica;
	padding-left: 10px;	
}

.closeAction{
	text-align: right;
	padding-right: 20px;
}

.a:link, a:visited, a:active, a:hover{ color: Blue; text-decoration: none}

.tabelaFormulario {
	width:100%;
	background-color: #F1F4ED;
	font-family: Verdana, Helvetica;
	border: thin solid ;
	border-color: #D5D8CD;
}

.formularioColunaDivisao {
	width:50%;
	text-align: center;
	vertical-align: top;
}

.formularioTabelaInterna {
	width:70%;
	padding: 5px;
}

.labelCell {
	text-align:right;
	font-size: xx-small;
	color: #000000;
	font-family: Verdana, Helvetica;
	vertical-align: top;
}

.labelPaginaErro {
	text-align:right;
	font-size: xx-small;
	color: #000000;
	font-family: Verdana, Helvetica;
	vertical-align: top;
	border-top-style: dotted;
	border-top-width: thin;
	border-top-color: #CCCCCC;
}

.inputText {
	text-align:right;
	font-size: xx-small;
	color: #000000;
	font-family: Verdana, Helvetica;
	background-color: #FFFFFF;
	border: 1px solid blue;
}

.genericSelect {
	text-align:right;
	font-size: 10px;
	color: #000000;
	font-family: Verdana, Helvetica;
	background-color: #FFFFFF;
	border: 1px solid blue;
}

.linhaAcoes {
	width:100%;
	text-align:left;
	background-color: #D4DBCB;
	border-top-width: thin;
	border-top-color: #D5D8CD;
	border-top-style: solid;
}

.actionButton {
	font: 10px Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-color: #8E9F59;
	color: white;	
	margin-top: 0px;
	margin-bottom: 0px;
	border: 1px black solid;
}

.dateButton {
	font: 10px bolder Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #8E9F59;
	color: white;	
	margin-top: 0px;
	margin-bottom: 0px;
	height: 16px;
	border: 1px black solid;
}

.defaultButton {
	font: 10px Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #979998;
	color: white;	
	margin-top: 0px;
	margin-bottom: 0px;
	border: 1px black solid;
}

.colunaLateral{
	padding-left: 20px;
	padding-right: 20px;
}

.tabelaConsulta{
	background-color: #F1F4ED;
	border: 1px solid #D5DBCB;
}

.rodapeConsulta{
	background-color: #D5DBCB;
	text-align:left;
	vertical-align:middle;
	padding: 2px;
	padding: 2px;
	border: 1px solid #D5DBCB;
}

.tabelaResultado{
	text-align:left;
	background-color: #FFFFFF;
	border: 1px solid #D5DBCB;
	border-collapse:collapse;
}

.textoCabecalhoResultado{
	font: 10px Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-color: #C4CDAE;
	white-space: nowrap;
	text-align: center;	
	padding: 5px;
	padding: 5px;
}

.linhaPar{
	font-family: Arial, Tahoma, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	color: black;
	background: #EFF3DE;
	white-space: nowrap;
	text-align: center;	
	padding: 5px;
	padding: 5px;
}

.linhaImpar{
	font-family: Arial, Tahoma, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	color: black;
	background: #D6D7AD;
	white-space: nowrap;
	text-align: center;	
	padding: 5px;
	padding: 5px;

}

.linhaNivel2{
	font: 10px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #ffffff;
	font-weight: bold;
	background-color: #dddddd;
	white-space: nowrap;
	text-align: center;	
	padding: 5px;
	padding: 5px;
}

.linhaHeader {
	font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: black;
	font-weight: bold;
	background-color: #C4CDAE;
	white-space: nowrap;
	text-align: center;	
	padding-left: 5px;
	padding-right: 5px;
}

.linhaHeaderErro {
	font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: black;
	font-weight: bold;
	background-color: #C4CDAE;
	white-space: nowrap;
	text-align: center;	
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	height: 25px;
}

.linhaTotalizacao {
	font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #829196;
	font-weight: bold;
	background-color: #EFF0EE;
	white-space: nowrap;
	text-align: center;	
	padding-left: 5px;
	padding-right: 5px;
}

.colunaDisplay {
	font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #829196;
	font-weight: bold;
	white-space: nowrap;
	text-align: left;	
	padding-left: 5px;
	padding-right: 5px;
	width: 100%;
}

.colunaPaginaErro {
	font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #829196;
	font-weight: bold;
	text-align: left;	
	padding-left: 5px;
	padding-right: 5px;
	width: 100%;
	border-top-style: dotted;
	border-top-width: thin;
	border-top-color: #CCCCCC;
}

.colunaAcao {
	background-color: #EFF0EE;
	text-align: center;	
	width: 5%;
}

.resultCellLight {
	font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #3670A7;
	background-color: transparent;
	white-space: nowrap;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
}

.resultCellDark{
	font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #3670A7;
	background-color: #F3F3F3;
	white-space: nowrap;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;	
}

.tabelaInfoGeral {
	width:10%;
	background-color: #EFF0EE;
	font-family: Verdana, Helvetica;
	font-size:xx-small;
	font-weight:bold;
	border: thin solid ;
	border-color: #E4E4E5;
}

.tabelaInfoGeralTelefone {
	background-color: #FFFFFF;
}

.colunaDisplayErro {
	font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: red;
	font-weight: bold;
	white-space: nowrap;
	text-align: left;	
	padding-left: 20px;
	padding-right: 5px;
	padding-bottom: 5px;
	width: 100%;
}

.colunaDisplayInfo {
	font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: black;
	font-weight: bold;
	white-space: nowrap;
	text-align: left;	
	padding-left: 20px;
	padding-right: 5px;
	padding-bottom: 5px;
	width: 100%;
}

.campoObrigatorio {
	font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: red;
	font-style: italic;
}

.rateioEstabelecimento {
	font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: white;
	background-color: #006600;
	white-space: nowrap;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
}

.rateioMunicipio {
	font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: black;
	background-color: #99CC00;
	white-space: nowrap;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
}

.rateioSubstancia {
	font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: black;
	background-color: #CCCC00;
	white-space: nowrap;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
}

.rateioDireitoMinerario {
	font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: black;
	background-color: #FFFFCC;
	white-space: nowrap;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
}

.tableHeader {
	font-family: Arial, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	text-align:center;
	background: #84AA73;
}

.tableHeaderSmall {
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background: #84AA73;
}

.tableEvenLine {
	background: #EFF3DE;
	font-family: Arial, Tahoma, Verdana, Helvetica, sans-serif;
	font-size: 11px;
}

.tableOddLine {
	background: #D6D7AD;
}

.tableEvenLineSmall {
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 9px;
	background: #EFF3DE;
}

.tableOddLineSmall {
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 9px;
	background: #D6D7AD;
	font-weight: bold;
}

.tableActiveLine {
	background: #EFF3DE;
}

.tableInactiveLine {
	background: #FFFFFF;
	color: #999999;
}

.tableResultLineSmall {
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	font-size: 9px;
	background: #FFFFFF;
	font-weight: bold;
}

.cellRed {
	background: #CC0000;
	color: White;
}

.cellYellow {
	background: #FFEE00;
	color: black;
}

.cellGreen {
	background: Green;
	color: white;
}

.list {
	border: #638252;
	border-color: #638252;
	border-style: solid;
	border-top-width: 3px;
	border-right-width: 1px;
	border-bottom-width: 3px;
	border-left-width: 1px;
	border-collapse:collapse; 
	padding-top: 1px; padding-right: 1px; padding-bottom: 1px; padding-left: 2px
}

.breadcrumb
{
	font-family: Arial, Tahoma, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #637D53;
}

.assentoVazio{
	width:20px;
	height:20px;
	font-family: Arial, Tahoma, Verdana, Helvetica, sans-serif;
	font-size: 10px;	
	border: 1px solid #000;
	background-color:#FFFFFF;
}

.assentoCheio{
	width:20px;
	height:20px;
	font-family: Arial, Tahoma, Verdana, Helvetica, sans-serif;
	font-size: 10px;	
	border: 1px solid #000;	
	background-color:#008000;	
}

.assentoReservado{
	width:20px;
	height:20px;
	font-family: Arial, Tahoma, Verdana, Helvetica, sans-serif;
	font-size: 10px;	
	border: 1px solid #000;	
	background-color:#FFFF33;	
}
