<!DOCTYPE html> 	
<html lang="en"
	  xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>		
		<meta charset="UTF-8">
	</head>
	<body>
		<!-- Edit Guest Modal-->
		<div class="modal fade" id="edit-guest-modal" tabindex="-1"
			 role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Edit Guest</h5>
						<button class="close" type="button" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<div class="form-label-group">
								<input type="text" id="nameGuestEdit" name="nameGuest" class="form-control" placeholder="Name" required/>
								<label for="nameGuestEdit">Name</label>
							</div>
						</div>
						<div class="form-group">
							<div class="form-label-group">
								<input type="text" id="cpfGuestEdit" name="cpfGuest" class="form-control" placeholder="CPF" required/>
								<label for="cpfGuestEdit">CPF</label>
								<input type="text" id="hiddenCpfGuestEdit" name="cpfGuest" class="form-control" placeholder="CPF" hidden/>
							</div>
						</div>
						<div class="form-group">
							<div class="form-row">
								<div class="col-md-6">
									<label>Status do Convite</label>
									<div class="form-label-group">
										<select id="statusInviteEdit" name="statusInvite">
											<option th:value="0">-- Selecione uma opção --</option>
											<option th:each="StatusInviteGuest:${statInvsList}" th:value="${StatusInviteGuest.idStatusInviteGuest}" th:text="${StatusInviteGuest.statusInviteGuest}"/>
										</select>
									</div>
								</div>
							</div>
						</div>
						<label id="idEventGuestEdit" hidden></label>
					</div>
					<div class="modal-footer">
						<a id="editGuestSubmit" href="#" onclick="changeGuestEditHref(nameGuestEdit.value, cpfGuestEdit.value, hiddenCpfGuestEdit.value, idEventGuestEdit.innerHTML, statusInviteEdit.value)" class="btn btn-primary btn-block btn-primary-overwrite">Edit Guest</a>
						<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>